.logo {
    background-size: 100%;
    background-color: #c4cbd5;
    overflow: hidden; 
    z-index: -10000;
}

.sidebar {
    z-index: 10000;
    min-height: 100vh;
}

.main {
    border-left: 1px solid #c4cbd5;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-28 { font-size: 28px; }
.material-icons.md-36 { font-size: 36px; }
